# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/

# Build outputs
build/

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android related
.android/
gradle-wrapper.jar
*.iml
.gradle/
local.properties
**/out/

# VS Code / IntelliJ / Android Studio
.vscode/
.idea/

# Misc
*.log
*.lock
